/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation pour le Popup */
@keyframes popupOpen {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-popup {
  animation: popupOpen 0.3s ease-out forwards;
}

body {
  background-color: #ffffff;
}